@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(45deg, #C9613E ,#c85c3c); */
    /* background-color: #b95846; */
    background-image: linear-gradient(to bottom right, #b12e1a, #b95846);
}




/* Banner */
.banner {
    position: relative;
    bottom: 65px;
}
.banner-content {
    position: absolute;
    top: 80px;
    left: 100px;
    max-width: 40%;
    text-transform: uppercase;
}
.banner-content  h2 {
    font-family: 'Lato', sans-serif;
}


/* Info */
article {
    padding: 15px;
    margin: 15px;
}

article p {
    text-align: justify;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
}

.indonesia-data .container {
    width: 90%;
}







/* Footer */
.footer-copyright a{
    margin-right: 40px;
}




/* Mobile Version */
@media only screen and (max-width: 600px) {
    .banner-content {
        display: none;
    }
    
    .banner-content-mobile  h3 {
        color: whitesmoke;
        font-family: 'Lato', sans-serif;
        padding: 0;
        margin: 0;
    }

    .banner-mobile {
        padding: 50px;
    }

    article p {
        text-align: center;
    }

    .footer-copyright a{
        margin-right: 0px;
    }
    
}